name: Validate

on:
  push:
    branches:
      - main
      - dev
  pull_request:
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: HACS validation
        uses: hacs/action@main
        with:
          category: integration

      - name: Hassfest validation
        uses: home-assistant/actions/hassfest@master

  validate-json:
    runs-on: ubuntu-latest
    name: Validate JSON files
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Validate JSON
        run: |
          for file in $(find . -name "*.json"); do
            echo "Validating $file"
            python -m json.tool "$file" > /dev/null
          done
